<mat-toolbar>
  <button mat-mini-fab color="warn" [matMenuTriggerFor]="navMenu">
    <mat-icon>dashboard</mat-icon>
  </button>
  <span class="icon"></span>
  <mat-icon>{{iconTitle}}</mat-icon>
  <span class="icon"></span>
  {{pageTitle}}
  <span class="spacer"></span>
  <mat-icon [color]="userStatusColor" routerLink = "/product">shop</mat-icon>
  <span class="exemple-icon"></span>
  <mat-icon [color]="userStatusColor" routerLink = "/settings">account_box</mat-icon>
  <span class="exemple-icon"></span>
  <mat-icon matBadge="{{counter}}" matBadgePosition="before" matBadgeColor="accent">shopping_cart</mat-icon>
  <mat-icon [matMenuTriggerFor]="helpMenu">help</mat-icon>

  <mat-menu #helpMenu="matMenu">
    <div *ngIf="helpTitle== 'page setting'">
      This is Setting page help
    </div>
    <div *ngIf="helpTitle== 'About us page help'">
        page about us
      </div>
    {{helpTitle}}
  </mat-menu>

  <mat-menu #navMenu="matMenu">
      <a href="{{configData.fb}}" target="_blank"><button mat-menu-item  style="background-image:url('../../../assets/icons/fb.png');"></button></a>
      <a href="{{configData.linkedin}}" target="_blank"><button mat-menu-item><mat-icon>linKedin</mat-icon></button></a>
      <a href="{{configData.github}}" target="_blank"><button mat-menu-item><mat-icon>git</mat-icon></button></a> 
      <button mat-menu-item routerLink="/aboutus"><mat-icon>info</mat-icon></button>
      <button mat-menu-item routerLink="/admin"><mat-icon>settings</mat-icon></button>
    </mat-menu>
</mat-toolbar>

